{%  set email  = form.get('email') %}
{%  set message =  formElementErrors(email,{class: 'help-block'})%}

{%  set password  = form.get('password') %}
{%  set message =  formElementErrors(password,{class: 'help-block'})%}

<div class="box-body">
    <div class="form-group">
        {{ formLabel(email) }}
        {{ formElement(email) }}
        {{ message | raw }}
    </div>
    <div class="form-group {{ message ? 'has-error' }}">
        {{ formLabel(password) }}
        {{ formElement(password) }}
        {{ message | raw }}
    </div>
</div>