{%  set name  = form.get('name') %}
{%  set template  = form.get('template') %}
{%  set tags  = form.get('tags') %}
{%  set subject  = form.get('subject') %}


<div class="box-body">
    {%  set message =  formElementErrors(name,{class: 'help-block'})%}
    <div class="form-group {{ message ? 'has-error' }}">
        {{ formLabel(name) }}
        {{ formElement(name) }}
        {{ message | raw }}
    </div>

    {%  set message =  formElementErrors(subject,{class: 'help-block'})%}
    <div class="form-group {{ message ? 'has-error' }}">
        {{ formLabel(subject) }}
        {{ formElement(subject) }}
        {{ message | raw }}
    </div>
    {%  set message =  formElementErrors(tags,{class: 'help-block'})%}
    <div class="form-group {{ message ? 'has-error' }}" >
        {{ formLabel(tags) }}
        {{ formElement(tags) }}
        {{ message | raw }}
    </div>
    {%  set message =  formElementErrors(template,{class: 'help-block'})%}
    <div class="form-group {{ message ? 'has-error' }}">
        {{ formLabel(template) }}
        {{ formElement(template) }}
        {{ message | raw }}
    </div>

</div>